In [1]:
# jupyter notebook 환경에서 spark를 사용하기 위한 모듈
import findspark
findspark.init('C:/spark/spark-3.0.1-bin-hadoop2.7')

In [2]:
# pyspark import
import pyspark
from pyspark import SparkConf,SparkContext
from pyspark.sql.context import SQLContext
from pyspark.sql import SparkSession

In [3]:
# pyspark 연결하기
# 꼬이면 kernel restart
conf= pyspark.SparkConf().setAppName('appName').setMaster('local')
sc= pyspark.SparkContext(conf= conf)
spark= SparkSession(sc)

# RDD 생성하기
<br>
- spark는 key값을 기준으로 덩어리들로 쪼개져있고 실행 노드로 분산되어있다. 병렬 처리로 속도를 비약적으로 향상시키기 위함이다. 이러한 구조의 데이터를 RDD라 한다.

In [4]:
data = sc.parallelize(
[('Amber',22), ('Alfred',23), ('Skye',4), ('Albert', 12),('Amber', 9)])

In [10]:
# 파일로부터 데이터를 받아오기
data_from_file = sc.textFile('./dataset/VS14MORT.txt.gz')
data_from_file.take(1)

['                   1                                          2101  M1087 432311  4M4                2014U7CN                                    I64 238 070   24 0111I64                                                                                                                                                                           01 I64                                                                                                  01  11                                 100 601']

In [5]:
# 스키마
data_heterogeneous = sc.parallelize([
    ('Ferrari', 'fast'),
    {'Porsche': 10000},
    ['Spain', 'visited', 4504]
]).collect()

In [6]:
# 데이터셋에 대해 collect를 수행하면 일반적인 파이썬처럼 다룰 수 있다.
data_heterogeneous[1]['Porsche']
print(type(data_heterogeneous))

<class 'list'>

In [27]:
# 행 단위로 구성된 RDD의 엘리먼트를 읽을 수 있는 형태로 파싱하기
def extractInformation(row):
    import re
    import numpy as np
    selected_indices = [
         2,4,5,6,7,9,10,11,12,13,14,15,16,17,18,
         19,21,22,23,24,25,27,28,29,30,32,33,34,
         36,37,38,39,40,41,42,43,44,45,46,47,48,
         49,50,51,52,53,54,55,56,58,60,61,62,63,
         64,65,66,67,68,69,70,71,72,73,74,75,76,
         77,78,79,81,82,83,84,85,87,89
    ]    
    record_split = re\
        .compile(
            r'([\s]{19})([0-9]{1})([\s]{40})([0-9\s]{2})([0-9\s]{1})([0-9]{1})([0-9]{2})' + 
            r'([\s]{2})([FM]{1})([0-9]{1})([0-9]{3})([0-9\s]{1})([0-9]{2})([0-9]{2})' + 
            r'([0-9]{2})([0-9\s]{2})([0-9]{1})([SMWDU]{1})([0-9]{1})([\s]{16})([0-9]{4})' +
            r'([YNU]{1})([0-9\s]{1})([BCOU]{1})([YNU]{1})([\s]{34})([0-9\s]{1})([0-9\s]{1})' +
            r'([A-Z0-9\s]{4})([0-9]{3})([\s]{1})([0-9\s]{3})([0-9\s]{3})([0-9\s]{2})([\s]{1})' + 
            r'([0-9\s]{2})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})([A-Z0-9\s]{7})' + 
            r'([A-Z0-9\s]{7})([\s]{36})([A-Z0-9\s]{2})([\s]{1})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})' + 
            r'([A-Z0-9\s]{5})([A-Z0-9\s]{5})([A-Z0-9\s]{5})([\s]{1})([0-9\s]{2})([0-9\s]{1})' + 
            r'([0-9\s]{1})([0-9\s]{1})([0-9\s]{1})([\s]{33})([0-9\s]{3})([0-9\s]{1})([0-9\s]{1})')
    try:
        rs = np.array(record_split.split(row))[selected_indices]
    except:
        rs = np.array(['-99'] * len(selected_indices))
    return rs

In [28]:
data_from_file_conv = data_from_file.map(extractInformation)

In [30]:
data_from_file_conv.take(1)

[array(['1', '  ', '2', '1', '01', 'M', '1', '087', ' ', '43', '23', '11',
        '  ', '4', 'M', '4', '2014', 'U', '7', 'C', 'N', ' ', ' ', 'I64 ',
        '238', '070', '   ', '24', '01', '11I64  ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '01',
        'I64  ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'], dtype='<U40')]

# Transformation
<br>
- 데이터셋의 형태를 만드는 것을 transformation이라 한다. 필터링, 조인, 데이터셋 내의 값들에 대한 트랜스코딩 등을 포함한다.

## map transformation
<br>
- RDD의 각 엘리먼트에 적용되는 함수

In [31]:
data_2014= data_from_file_conv.map(lambda row: int(row[16]))

In [42]:
data_2014.take(10)

[2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, -99]

In [58]:
data_2014_2 = data_from_file_conv.map(lambda row: (row[16], int(row[16])))
data_2014_2.take(10)

[('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('2014', 2014),
 ('-99', -99)]

## .filter() transformation
<br>
- 특정 조건에 맞는 엘리먼트 선택하기

In [59]:
# 2014년에 사고로 죽은 사람들의 수
data_filtered = data_from_file_conv.filter(
    lambda row: row[16] == '2014' and row[21] == '0')
data_filtered.count()

22

## .flatMap(...) transformation
<br>
- map과 비슷하게 동작하지만 리스트가 아닌 평면화된 결과(flattened result)를 리턴한다.
<br>
- 주로 입력 데이터를 파싱할 때 올바르지 않은 형태의 데이터를 제거하기 위해 사용한다.

In [60]:
data_2014_flat = data_from_file_conv.flatMap(lambda row: (row[16], int(row[16]) + 1))
data_2014_flat.take(10)

['2014', 2015, '2014', 2015, '2014', 2015, '2014', 2015, '2014', 2015]

## .distinct() transformation

In [61]:
# distinct로 어떤 고유한 값들이 있는지 확인하고 collect를 사용하여 출력하기
distinct_gender= data_from_file_conv.map(
    lambda row: row[5]).distinct()
distinct_gender.collect()

['M', 'F', '-99']

## .sample(...) transformation

In [62]:
fraction = 0.1
data_sample = data_from_file_conv.sample(False, fraction, 666)

In [64]:
data_sample.count() # 263247건의 표본 추출

263247

## .leftOuterJoin(...) transformation

In [65]:
rdd1 = sc.parallelize([('a',1), ('b', 4), ('c', 10)])
rdd2 = sc.parallelize([('a',4), ('a', 1), ('b', '6'), ('d',15)])
rdd3 = rdd1.leftOuterJoin(rdd2)

In [68]:
rdd3.collect()

[('b', (4, '6')), ('c', (10, None)), ('a', (1, 4)), ('a', (1, 1))]

In [69]:
rdd4 = rdd1.join(rdd2)
rdd4.collect()

[('b', (4, '6')), ('a', (1, 4)), ('a', (1, 1))]

In [70]:
rdd5 = rdd1.intersection(rdd2)
rdd5.collect()

[('a', 1)]

## .repartition(...) transformation
<br>
- 데이터가 나눠지는 파티션의 개수가 바뀐다. 성능을 크게 저하시키는 요인이 되므로 가급적이면 사용하지 말자.

In [71]:
rdd1 = rdd1.repartition(4)
len(rdd1.glom().collect()) # glom은 하나의 리스트를 생성하는데, 리스트의 각 엘리먼트는 명시된 파티션에 존재하는 데이터셋의 모든 엘리먼트에 대한 리스트다.

4

# Action

## .take(...) 함수
<br>
- 파티션에서 가장 위에 있는 n행을 리턴한다. 임의의 샘플을 얻고 싶을 때는 .takeSample()함수를 사용하면 된다.

In [74]:
data_first = data_from_file_conv.take(1)

In [75]:
data_take_sampled = data_from_file_conv.takeSample(False, 1, 667)

In [77]:
data_take_sampled

[array(['2', '17', ' ', '0', '08', 'M', '1', '069', ' ', '39', '19', '09',
        '  ', '1', 'M', '7', '2014', 'U', '7', 'U', 'N', ' ', ' ', 'I251',
        '215', '063', '   ', '21', '06', '11I500 ', '21I251 ', '61I499 ',
        '62I10  ', '63N189 ', '64K761 ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '       ',
        '       ', '       ', '       ', '       ', '       ', '05',
        'I251 ', 'I120 ', 'I499 ', 'I500 ', 'K761 ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '     ',
        '     ', '     ', '     ', '     ', '     ', '     ', '01', ' ',
        ' ', '1', '1', '100', '6'], dtype='<U40')]

## .collect(...) 함수
<br>
- RDD의 모든 엘리먼트를 리턴한다.

## .reduce(...) 함수
<br>
- 특정 함수를 사용해 RDD의 개수를 줄인다. 총합을 구할  때 사용할 수 있다.

In [79]:
rdd1.map(lambda row: row[1]).reduce(lambda x, y: x+y)

15

In [78]:
data_key= sc.parallelize(
[('a',4),('b',3),('c',2),('a',8),('d',2),('b',1),('d',3)], 4)
data_key.reduceByKey(lambda x, y: x+y).collect()

[('b', 4), ('c', 2), ('a', 12), ('d', 5)]

## .count(...) 함수

In [81]:
data_2014.count()
# len(data_2014.collect()) : 잘못된 방법

2631171

In [ ]:
data_key.countByKey().items()

## .saveAsTextFile(...) 함수
<br>
- RDD를 텍스트 파일로 저장한다.

## .foreach(...) 함수
<br>
- RDD의 각 엘리먼트에 반복적으로 적용하는 함수이다.
<br>
- map함수와는 달리 foreach 함수는 정의된 함수를 하나하나 각각의 데이터에 적용한다.